[2016-08-23 15:43] SmithRWORNL opened #2 "Extraneous additional.bundles statements in build.properties files"
Some of the org.eclipse.january.geometry.* have dependencies listed as additional.bundles inside the build.properties files. These should instead be specified as Import-Packages in the manifest files.

[2016-08-28 20:03] jonahkichwacoders commented on #2
Hi @SmithRWORNL, Thanks for the fixup. I am working on getting January to fully build and this helps along the way.

-- Jonah

[2016-08-28 20:03] #2 closed

[2016-08-31 13:00] gerring opened #4 "There should be a feature for just using IDataset"
IDataset has few dependencies and should have its own feature to make it easier to import to targets. Should I create this or will you?

[2016-08-31 13:45] jonahkichwacoders commented on #4
I'm working on this now and figuring out how to make datasets independent. I have a local build branch which I'll push when I return from holiday next week. I also have a HIPP commissioned to run our builds on now.

I would like to be able to push January datasets out to new the maven repos too,that is still under investigation.

[2016-08-31 13:48] jonahkichwacoders commented on #4
PS. Do you need an actual Eclipse feature? Because of the maintenance overhead of features and their tendency to be incomplete I have been shying away from them for individual bundles.

[2016-08-31 14:20] jayjaybillings commented on #4
I guess I'm with both of you on this. Distinct elements should have their own features, even though in this case it seems weird because IDataSet and Forms are individual bundles.

I think it makes a little more sense if you consider that their features also need to include their dependencies. For example, the Forms feature will need to have Glazed Lists in it. (I'm happy to assemble that one btw.)

[2016-08-31 14:25] gerring commented on #4
That stuff already pulls in dependencies which I don't require in scanning
(although good that part of January) therefore a feature I could depend on
would help at some point. For now, I have created my own so no massive
hurry.

M

On 31 August 2016 at 15:20, Jay Jay Billings <notifications@github.com>
wrote:

[2016-08-31 14:44] jonahkichwacoders commented on #4
My arguments below are about reducing unmaintained code in the future. I don't object to adding features if they are maintained (and actually used!)

The problem with the above is that the feature duplicates information, the plug-in manifest already specifies this and the P2 meta data has it too. i.e. consider that the individual orbit bundles have no such dependencies.

The use of feature.xml mak

[2016-09-14 11:57] jonahkichwacoders opened #5 "Add January build"
This is to track in progress work. See our HIPP https://hudson.eclipse.org/january where builds are now running.

[2016-09-14 12:09] jonahkichwacoders commented on #5
TODO list

- [ ] Resolve test failures (some/many are because of missing ICE test data)
- [ ] Publish results

[2016-09-14 12:44] jayjaybillings commented on #5
All ICE test data is at github.com/jayjaybillings/ICETests

From my phone.
________________________________
From: Jonah Graham
Sent: Wednesday, September 14, 2016 8:09 AM
To: eclipse/january
Subject: Re: [eclipse/january] Add January build (#5)

TODO list

  *    Resolve test failures (some/many are because of missing ICE test data)
  *    Publish results

-
You are receiving this because you are

[2016-09-14 13:33] jonahkichwacoders commented on #5
January is now publishing builds: http://download.eclipse.org/january/builds/latest/repository/

At the moment we are promoting regardless of whether it is stable or not. Once the tests are at 0 we'll only promote stable builds.

[2016-09-14 19:12] jonahkichwacoders commented on #5
Turns out that maven central cache is now on by default, no longer need manual settings for this one.

[2016-09-15 15:19] jonahkichwacoders commented on #5
Hi Jay, The ICETests is currently a private repo. Previously you indicated that it is public, perhaps it has been made private again?

From https://dev.eclipse.org/mhonarc/lists/january-dev/msg00013.html:

Thanks,
Jonah

[2016-09-15 15:26] jayjaybillings commented on #5
Ah, okay. I apologize; I was wrong. I have to keep it private because of its history. Some of the files could not be distributed. We have removed them, but I need to clear the history. I'll look into it later today.

[2016-09-15 15:28] jayjaybillings commented on #5
In the meantime, I have added you to the repo.

[2016-09-15 15:35] jonahkichwacoders opened #6 "Make ICETests public"
Split off from Issue 5:

From Jay:

[2016-09-15 15:36] jonahkichwacoders commented on #6
Never mind, don't need multiple issues, I see that github supports multiple assignees.

[2016-09-15 15:36] #6 closed

[2016-09-15 15:37] jonahkichwacoders commented on #5
Thanks Jay.

[2016-09-15 16:18] jonahkichwacoders commented on #5
Can we just take the contents of the head commit and stick that in a new repo?

Also, I think it is critical to get the test code into the January repo to make it maintainable and make it possible to contribute with as few barriers as possible. That means either recreating test code that has copyright issues, or getting the test code through a CQ.

[2016-09-15 18:00] jonahkichwacoders commented on #5
Not java code, but stuff under problematic copyright. This is the comment I was "replying" to from [january-dev](https://dev.eclipse.org/mhonarc/lists/january-dev/msg00013.html)

[2016-09-15 18:00] jayjaybillings commented on #5
I hit send a bit too quickly. My plan is to create a new repo, yes. Of course, you can do that if you want since you have access now.

We also cannot put these directly in project repositories because some of them may include copyrighted content from 3rd parties. The IP team advised us to use a separate repo.

[2016-09-15 18:01] jayjaybillings commented on #5
Yes, that's email is still true. So we just have to keep them in a separate repo.

[2016-09-15 18:13] jonahkichwacoders commented on #5
OK, I will review them and come up with a suggestion to get past IP issues. Having a separate repo is far from ideal going forward and puts unnecessary constraints on contributors.

I appreciate the push permissions, but I won't be using them for ICETests. If the current HEAD of ICETests can be in a public repo I can create a new repo for January (e.g. JanuaryTessts) and then start trimming out wh

[2016-09-15 18:24] jayjaybillings commented on #5
@jonahkichwacoders I think you will only need the datastructuresData folder from that repo. You might also need the CSVVizService directory for EAVP. @SmithRWORNL can tell us. Most of the xml files in that data directory are released into the public domain, which has various legal problems in the rest of the world and probably won't make it through the Eclipse process. For example, several of the

[2016-09-15 18:36] jonahkichwacoders commented on #5
Removing tests is the last thing I want to do. But my interest in being project lead on this project is making these excellent reusable components reusable outside of ICE and DAWNSci. For this to work we need tests and test data. That means that things like "mvn verify" should *just work*.

BTW I will not be making any code or test changes to anything in January without relevant review by ORNL or

[2016-09-15 18:40] jonahkichwacoders commented on #5
Yes, the tests are not part of any release/p2 repo.

[2016-09-15 18:42] jayjaybillings commented on #5
Sorry, I meant the ICE testing situation was discussed as part of the ICE IC CQ.

I agree that "mvn verify" should just work, but I'm not sure of the best way to do that when I/O comes into the picture, and especially if that I/O involves testing real examples from the wild. I'm open to however you want to fix it, but I'm just saying that it may be a bridge that we choose to cross at a later time.

[2016-09-15 18:48] jonahkichwacoders commented on #5
The temporary workaround will be to continue to do what ICE does and check out the additional repo. I agree it does not have to be before the October release.

[2016-09-15 18:58] jonahkichwacoders commented on #5
Do you still have the record of that to save me asking questions already discussed. The ICE IC CQ is 8577 and does not AFAICT have the discussion but rather the conclusions. The conclusion ([comment 9](https://dev.eclipse.org/ipzilla/show_bug.cgi?id=8577#c9)) makes reference to emails that are not included.

Anyway, I am part of the way through the review of what is actually used from ICETests and

[2016-09-15 19:02] jayjaybillings commented on #5
The first bullet in Comment 9 is most of the discussion:

Build and Test Requirements not to be checked into the repository.  Only to
be utilized via the Build and Test Server for Ice.  The Project will need to
raise a Workswith CQ to cover this in the near future.

The emails just said "these are the test files."

I'm glad I looked over this though... looks like I need to submit a works-with CQ..

[2016-09-15 19:05] jayjaybillings commented on #5
I raise a bug for the workswith CQ for ICE. I'll post the CQ there when I submit it. https://github.com/eclipse/ice/issues/266

[2016-09-15 19:34] SmithRWORNL commented on #5
@jayjaybillings It looks like we need the datastructuresData and itemData folders from ICETests.

[2016-09-16 15:28] jonahkichwacoders commented on #5
We have a green light for January. All tests pass, but there are a few caveats that will be resolved in other bugs.

[2016-09-16 15:28] #5 closed

[2016-09-16 15:33] jonahkichwacoders opened #7 "Update DAWNSci's January contribution"
At the moment, the January code base is out of date for the January components from https://github.com/eclipse/dawnsci/

[2016-09-16 15:33] jonahkichwacoders opened #8 "Update ICE's January contribution"
At the moment, the January code base is out of date for the January components from https://github.com/eclipse/ice

[2016-09-16 15:33] jonahkichwacoders opened #9 "Update EAVP's January contribution"
At the moment, the January code base is out of date for the January components from https://github.com/eclipse/eavp

[2016-09-16 15:38] jonahkichwacoders commented on #9
I have brought across all the commits on ICE's next branch since the IC on to https://github.com/eclipse/january/tree/jonah/ice_contribution.

@SmithRWORNL Can you review these changes as they were all yours originally on the ICE code base?

[2016-09-16 15:44] jonahkichwacoders commented on #9
I am working at extracting all the commits from EAVP to apply to January. Once I have done that I will create a PR for @SmithRWORNL to review.

[2016-09-16 18:43] jonahgraham opened #11 "Resolve JanuaryTests dependency"
At the moment running tests is dependent on having https://github.com/jonahkichwacoders/JanuaryTests cloned into $HOME.

JanuaryTests was derived from ICETests maintained by @jayjaybillings.

We either need to inline these test resources into January or file a CQ to have the dependency.

[2016-09-16 20:40] jonahkichwacoders opened #14 "Update January from other projects"
Since the initial contributions was created EAVP, ICE and DawnSci have continued development in their respective projects/git repos.

This is the bug that is the umbrella for Issues #7, #8, and #9.
There are corresponding pull requests for the issues in #12, #10, #13

[2016-10-04 09:29] #8 closed

[2016-10-04 09:29] #9 closed

[2016-10-04 09:29] jonahkichwacoders commented on #9
Superseded by Issue #14 which combined all the updates in one.

[2016-10-04 09:30] jonahkichwacoders commented on #8
Superseded by Issue #14 which combined all the updates in one.

[2016-10-04 09:30] jonahkichwacoders commented on #7
Superseded by Issue #14 which combined all the updates in one.

[2016-10-04 09:30] #7 closed

[2016-10-04 09:30] jonahkichwacoders commented on #14
The CQ 11982 has been approved for the migration.

[2016-10-04 09:32] #14 closed

[2016-10-04 12:34] jonahkichwacoders opened #16 "Fix Vendor/Name/etc in MANIFEST.MFs"
A number of the MANIFEST.MFs have Bundle-Vendor: My Company and other such incorrect info that needs updating.

[2016-10-16 14:55] jonahkichwacoders commented on #16
Fixed in 918b2692f018781a13eb4a56994c4ca02d9f7645

[2016-10-16 14:55] #16 closed

[2016-10-16 14:56] jonahkichwacoders commented on #11
These test resources are not part of the January release.

[2016-10-17 11:50] jonahkichwacoders opened #17 "Source not included for o.e.january.geometry.* plug-ins"
The 1.0RC1 is missing the source bundles for o.e.january.geometry.*. They are present for datasets and forms

[2016-10-20 10:01] jonahkichwacoders commented on #17
Fixed in d7cf36e26b825acc31e047cf927c2770c1b8f781

[2016-10-20 10:01] #17 closed

[2016-10-20 10:08] jonahkichwacoders commented on #4
The release for January allows just the dataset plug-in to be included in a target platform. For an example see  [JanuaryExamples.tpd](https://github.com/eclipse/january/blob/JANUARY_1_0_0/org.eclipse.january.examples/JanuaryExamples.tpd) (or alternatively the generated  [JanuaryExamples.target](https://github.com/eclipse/january/blob/JANUARY_1_0_0/org.eclipse.january.examples/JanuaryExamples.targ

[2016-10-20 10:08] #4 closed

[2016-11-03 17:01] mwebber opened #18 "January p2 site missing some jars"
The [p2 site](http://download.eclipse.org/january/releases/1.0.0/repository/) for January 1.0.0 is missing some bundles/features. Specifically, ones that I reference but are missing are:
`org.eclipse.january.asserts`
`org.eclipse.january.tests` (possibly not required)
(others might be missing as well; I didn't check)

[2016-11-03 18:48] jonahkichwacoders commented on #18
Generally speaking I wouldn't have test bundles in main p2 repo, but rather in a test one. I assume that other tests (other than org.eclipse.january.tests) depends on o.e.j.asserts?

Adding the bundles under a test category in https://github.com/eclipse/january/blob/master/releng/org.eclipse.january.releng.p2/category.xml seems like a good balance between complexity and separation?

[2016-11-04 09:18] mwebber commented on #18
You're quite right, some of our tests (in our own plugins) depend on `org.eclipse.january.asserts`.

My own preference is for just one p2 repo (rather than separate main and test ones) for bundles that belong to the same project, and have the same release cycle and versioning.

The p2 design means only components that are needed are downloaded, and in fact if the Eclipse instance already has the b

[2016-11-04 09:22] mwebber commented on #18
One other not particularly relevant note - there are really two use cases for a p2 repository.

One is providing components towards a target platform (that's my case).

The other is providing installable units (IUs) for a user to "Install New Software" into an existing Eclipse-based application. That's usually based around feature projects, and that's where the categories become important, since t

[2016-11-06 20:43] jonahkichwacoders commented on #18
o.e.j.{asserts,test} added to p2 in 559405a955bc094b263913eaf2e851265d2b863a

The "latest" p2 site (http://download.eclipse.org/january/builds/january-master/latest/repository/) has the change. PS latest is only updated on stable builds (all tests passing).

Thanks for the other feedback. I am working on getting the list of bugs together to address various issues with o.e.j.{form,geometry} compone

[2016-11-06 20:43] #18 closed

[2016-11-14 20:57] jonahkichwacoders opened #20 "Test org.eclipse.january.dataset.AbstractDatasetTest.testTileSpeed is intermittent"
The org.eclipse.january.dataset.AbstractDatasetTest.testTileSpeed test is intermittent as it depends on timing.

[Build 27](https://hudson.eclipse.org/january/job/january-master/27/) of january-master was unstable with this:

**Error Message**

    Creation of tile took more than 30x as long as array creation of same size! (It took 2065)

**Stacktrace**

    java.lang.AssertionError: Creation of t

[2016-11-15 10:35] PeterC-DLS commented on #20
Hopefully, increasing the limit factor to 50 is enough!

[2016-11-15 10:35] #20 closed

[2016-11-15 13:45] jonahkichwacoders commented on #20
Great, thanks!

If it continues to be a problem one thing I have seen on another project I
am involved in was to mark the test as intermittent, which would cause the
test to be re-run up to 3 times to see it could pass.  See
https://git.eclipse.org/c/cdt/org.eclipse.cdt.git/tree/dsf-gdb/org.eclipse.cdt.tests.dsf.gdb/src/org/eclipse/cdt/tests/dsf/gdb/framework/IntermittentRule.java
and its referenc

[2016-11-16 20:34] IanMayo opened #22 "Runtime error on running tutorial."
I've encountered a runtime error with the tutorial class:

[code]
I've had to hack the repo structure around a little, since I've got a really poor mobile data signal - and I've had to just manually download the bare essential supporting libs.  So, the above problem may be self-inflicted - sorry if that's the case.

But, I thought I'd share the problem nevertheless.  I'm running Eclipse-Neon on OS

[2016-11-16 21:31] jonahkichwacoders commented on #22
Hi @IanMayo, I can confirm that I see the same thing.

@PeterC-DLS Is this tutorial a work in progress? Is the Exception here a bug in January or the tutorial?

Thanks.

[2016-11-16 22:05] IanMayo commented on #22
@jonahkichwacoders - [here's](https://github.com/eclipse/january/blob/master/org.eclipse.january.examples/src/org/eclipse/january/tutorial/C1TheBasics.java#L58) the line at fault:
[code]

I suspect it may just be a problem in the tutorial, since this is the step where things get _complex_ (excuse the pun...).

[2016-11-17 09:18] PeterC-DLS commented on #22
Ah, this is a bug in the example. It should be the dtype value first: as it is, that value is used as a shape.

Thanks for reporting it.
Peter

From: Ian Mayo [mailto:notifications@github.com]
Sent: 16 November 2016 22:05
To: eclipse/january <january@noreply.github.com>
Cc: Chang, Peter (DLSLtd,RAL,LSCI) <Peter.Chang@Diamond.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [eclipse/januar

[2016-11-17 09:37] PeterC-DLS commented on #22
Fix in #23

[2016-11-17 09:37] #22 closed

[2016-11-17 09:48] IanMayo commented on #22
Great, thanks Peter.

Is this an argument for dType parameters being enums instead of int values? This would let the compiler/IDE prevent the occurrence of the above bug.  Or does the underlying implementation rely on special encoding of ARRAYMUL data-types?

[code]

[2016-11-17 10:17] gerring commented on #22
I have wondered from time to time why they are not enums. I think in numpy
they are also ints with the same value... There is probably some bit
shifting reason... Still we could have enums with the int as member data.

On 17 November 2016 at 09:48, Ian Mayo <notifications@github.com> wrote:

[2016-11-17 10:34] jonahkichwacoders commented on #22
+1 for Enum in January. Enums don't really exist in Python. I'll create a new issue.

[2016-11-17 10:37] jonahgraham opened #24 "Change dtype from int to enum"
In Bug #22 we discussed the idea of changing dtype from an int to enum. As that bug was closed, this new bug is to track further discussion/conclusions.

DatasetFactory.createFromObject() takes an int to specify datatype, this has limited static checking ability.

https://github.com/eclipse/january/blob/66dbbcbaa4f03ee1234203d56eb613d4348a1445/org.eclipse.january/src/org/eclipse/january/dataset/Da

[2016-11-17 10:48] PeterC-DLS commented on #24
This was chosen as CORBA had issues with serialization/deserialization of enum and their equality.

[2016-11-17 11:09] PeterC-DLS commented on #22
No, NumPy allow several things to be dtype specifiers. In ScisoftPy (which @gerring may be referring to), we use the dtype class from NumPy in Python and our own class in Jython.

[2016-11-17 11:10] gerring commented on #22
Looks like CORBA plus numpy synonymy means int is better?

On 17 November 2016 at 11:09, Peter Chang <notifications@github.com> wrote:

[2016-11-21 13:05] SmithRWORNL opened #25 "Port changes from org.eclipse.ice.datastructures"
We need to port over the changes from the latest version of the ICE project's org.eclipse.ice.datastructures to org.eclipse.january.form.

[2016-11-21 13:08] jayjaybillings commented on #25
Very small changes, I'll add. We found a messed up extension point schema and a single missing file in build.properties for the form bundle.

We will port this change as we modify ICE to use January. We had to fix it in ICE because it was a critical bug.

[2016-12-10 17:31] jonahgraham opened #26 "Code cleanup in Eclipse January"
At the moment there are a few of issues in January that need to be resolved. This is an umbrella bug, individual issues can be split out of this bug, especially if they need discussion and are non-trivial.

These, therefore, make a list of my recommendations on how to improve January:

- Check-in generated xtend files so that contributors don't need xtend tooling unless they are editing those file

[2016-12-10 17:32] jonahkichwacoders commented on #26
Hi @jayjaybillings  and @SmithRWORNL, I have started my notes here on some improvements that can be made to January, Please feel free to cut these up into their own issues and deal with them as you see fit.

[2016-12-14 01:24] scottslewis opened #27 "access to dataset metadata not threadsafe"
The implementations of getMetadata(Class<T>) addMetadata(T)/setMetadata and any of the *Metdata methods on the LazyDatasetBase class do not have any synchronization around the access to the 'metadata' field...wrt creating the Map or accessing elements (getting and setting).  This means that the IDataset instances are not thread safe, and multithreaded access could result in non-deterministic NPEs

[2016-12-14 09:11] PeterC-DLS commented on #27
Thanks for the issue. Yes, it should be though we haven't required it so far. Do you have time to fix this?

[2016-12-14 09:11] gerring commented on #27
I we do this we should avoid putting synchronised methods and objects
everywhere because slowness of january is an issue already.

On 14 December 2016 at 01:24, Scott Lewis <notifications@github.com> wrote:

[2016-12-14 12:59] jayjaybillings commented on #27
We avoid synchronized methods as much as possible in other projects and use Atomics instead. Some studies have shown them to be eight times faster than synchronized methods because they are implemented in hardware.

Jay Jay Billings
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: Matthew Gerring <notifications@github.com>
Sent: Wednesday, Decemb

[2017-01-06 15:29] IanMayo opened #30 "Fixing asymmetric IDataset.getMetadata"
IDataset has getMetadata() and setMetadata() methods.

But there are asymmetric:

[code]

My colleague has mistaken how to use metadata, in almost exactly the same way I did back in Sep 2015.

@PeterC-DLS  previously indicated this could be deleted:

[code]

I'm happy to start work on a PR.

Note: I don't believe new metadata types should extend [IMetadata](https://github.com/eclipse/january/blob/

[2017-01-06 16:44] IanMayo commented on #30
Fixed provided in PR #31

[2017-01-06 17:18] PeterC-DLS commented on #30
I think there's a misunderstanding here: `IMetadata` is a sub-interface of `MetadataType` and not all metadata interfaces are sub-interfaces of it.

I meant we should deprecated `getMetadata()` and replace those users with `getFirstMetadata(IMetadata.class)`.

[2017-01-06 17:22] PeterC-DLS commented on #30
Note, `IMetadata` is historically bad name :blush:. It could rename as `DataFileMetadata`...

[2017-01-07 14:45] IanMayo commented on #30
Ok, deprecating ````getMetadata()```` would avoid the confusion we experienced,

Given that the implementation now supports multiple metadata entries per dataset, would ````addMetadata(obj)```` be naming than ````setMetadata(obj)````?

If the DAWN usage of ````setMetadata()```` is too extensive to allow renaming, I guess ````setMetadata()```` could be marked as deprecated, and under-the-covers act

[2017-01-09 09:16] PeterC-DLS commented on #30
The `addMetadata` and `setMetadata` methods are distinct in that we support lists of metadata of various types and the former adds to a list whereas the latter sets the list to a single item.

We may want to reconsider whether having more than one metadata (of a given type) is necessary. I not sure it is and if not, then the distinction noted above becomes redundant.

[2017-01-09 09:42] IanMayo commented on #30
Aah, ok. Will submit PR to deprecate ````getMetadata()````, and adopt your recommended strategy.

[2017-01-20 13:55] jonahkichwacoders opened #52 "Add Travis CI build for pull requests"
We have this enabled from Eclipse org, but the necessary stuff on our side is missing. Not having done this is becoming more of a problem as more contributors are coming online.

[2017-01-20 13:56] jonahkichwacoders opened #53 "Add Semantic versioning info + API tools"
As discussed on mailing list, we need semantic versioning up and running (before next release at the latest): https://dev.eclipse.org/mhonarc/lists/january-dev/msg00109.html

[2017-01-20 17:41] jonahkichwacoders opened #55 "Add Source-Reference to MANIFEST.MF"
See https://wiki.eclipse.org/PDE/UI/SourceReferences

[2017-01-20 21:58] jayjaybillings opened #56 "Best way to handle EMF and xtext-generated UI/edit/editor bundles for january.geometry?"
I wanted to put a specific ticket in to talk about cleaning up this xtext/emf generated code org.eclipse.january.geometry. I'm sure @gerring will respond with "just remove it," especially since I've prodded him! ;-)

N.B. - The VTK bundles are very messed up and need to be reworked. There's some dirty code in there and I'm not sure how it snuck in.

The original goal of creating bundles like org.e

[2017-01-20 22:00] jayjaybillings opened #57 "org.eclipse.january.geometry.xtext.vtk bundles are mislabelled"
The org.eclipse.january.geometry.xtext.vtk bundles are mislabelled, which leads to some very nasty code and names like "MyDSLRuntimeModule.xtend." This needs to be cleaned up.

[2017-01-20 22:18] jayjaybillings opened #58 "Dependencies in org.eclipse.january.form?"
The form bundle needs its dependencies cleaned up.
1. It should not have any dependencies on EAVP, so I'm not sure how anyone has been able to get it to resolve or build...
2. It defines an impossible JPA persistence unit that refers to ICE...
3. It uses the Eclipse Core Runtime for file handling.
4. It uses EMF for managing EMF data in the forms.
5. It uses GlazedLists to create a generic ListCom

[2017-01-20 22:19] jayjaybillings commented on #58
Note that the Form bundle also needs to have some name and documentation updates, but that may be part of #26.

[2017-01-20 22:40] jonahkichwacoders commented on #58
IMHO dependencies are certainly allowed, many of them in fact. However UI and unnecessary  dependencies on Eclipse Runtime (no definition given here, sorry, but I could give examples if it helps) are problematic.

Simply as I see it January is data structures and algorithms. I know the history so far, especially the less mature Geometry component has some issues in this regard. I have been neck de

[2017-01-21 14:28] jayjaybillings commented on #56
@jonahkichwacoders Given your recent experience with xtext in CDT as you mentioned in #58, any thoughts on this?

I'll note too that you mentioned in #58 that January is data and algorithms, which is inline with number 1 above. What do you do with all the UI stuff from xtext in CDT? (If you even use it...)

[2017-01-21 14:55] jonahkichwacoders commented on #56
The Xtext bundles are well split between core/ui. The core plugin + tests (the ones without .ide or .ui) are true core ones (not even requiring OSGi, let along workbench or UI). In CDT, the Linker Script is one self-contained feature with core and ui plug-ins.

At the moment it would seem to me that the ui and ide plug-ins don't really belong in January. It seems that EAVP provides one set of UI t

[2017-01-24 09:18] PeterC-DLS commented on #24
The better way is to eschew using the `dtype` and use the class-based methods in `DatasetFactory`. I will update the examples to show this...

[2017-01-24 14:21] jayjaybillings commented on #57
org.eclipse.january.geometry.ide is also mislabeled since it is really the bundle that has all of our STL support.

[2017-01-24 14:29] jayjaybillings commented on #56
1. o.e.j.geometry provides data structures for managing 3D geometries. If you think about dataset, it provides an efficient way to store nD data. However, the most efficient way to store 3D geometries is in graphs with some small arrays at each node. o.e.j.geometry provides that and is the primary way that o.e.j.form stores its geometric data.
2. o.e.j.geometry can be stored in xsi since it is bas

[2017-01-30 13:50] IanMayo commented on #30
Issue resolved, in #33

[2017-01-30 13:50] #30 closed

[2017-01-30 13:52] gerring opened #67 "Create temporary branches for dataset and forms"

[2017-01-30 16:00] #67 closed

[2017-01-31 09:35] gerring opened #68 "January must have a build and test run on each pull request"

[2017-01-31 09:38] jonahkichwacoders commented on #68
Duplicate of #52

[2017-01-31 09:39] jonahkichwacoders commented on #52
Duplicate of #69

[2017-01-31 09:39] #52 closed

[2017-01-31 09:39] jonahkichwacoders commented on #68
I closed #52 as you have already started a PR against this copy.

[2017-01-31 10:00] #68 closed

[2017-02-02 09:46] gerring opened #70 "Copyright of BasicExample"
Is the copyright of BasicExample correct at:

https://github.com/eclipse/january/blob/master/org.eclipse.january.examples/src/org/eclipse/january/examples/dataset/BasicExample.java

at Kichwa? :)

If DLS have paid for the work, we retain copyright but release open source.

Cheerio,

Matt

[2017-02-02 09:58] tracymiranda commented on #70
The copyright is correct. As is your assertion.

Tracy

On Thu, Feb 2, 2017 at 9:46 AM, Matthew Gerring <notifications@github.com>
wrote:

[2017-02-02 10:00] #70 closed

[2017-02-02 12:21] gerring commented on #27
Are Atomics things like ReetrantLock?

[2017-02-02 20:50] jonahkichwacoders commented on #27
No, Atomics are their own thing, stuff in [java.util.concurrent.atomic](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/atomic/package-summary.html). Here is the article from Brian Geotz (author of Java Concurrency in Practice) from when the new feature was added in Java 5: http://www.ibm.com/developerworks/library/j-jtp11234/

[2017-02-02 22:37] scottslewis commented on #27
Hi Matt.   Using synchronized keyword is essentially a Reentrant lock (in python threading lib terms).  You can also use the concurrent API (especially java 8), but my suggestion would be to use synchronized keyword in necessary places.   I would offer to provide a patch, but just can't at the moment.

[2017-02-02 22:41] scottslewis commented on #27
I hadn't noticed discussion above...wrt synchronized keyword.   Although I agree that using synchronized in many locations is  bad, I don't think that is necessary to have many uses of synchronized to satisfy...rather just protecting the add/removal/lookup to the metadata storage (preventing ConcurrentModificationExceptions) is what we are looking for.

[2017-02-03 09:00] gerring commented on #27
Scott and Jonah,

Thanks, duly noted, in a non-ironic way.

Matt

On 2 February 2017 at 22:37, Scott Lewis <notifications@github.com> wrote:

[2017-02-17 15:01] PeterC-DLS opened #72 "Add unit metadata"
Using UoM's [unit-api](https://github.com/unitsofmeasurement/unit-api)

[2017-02-17 15:25] IanMayo commented on #24
That's a neat fix, @PeterC-DLS   Is it worth deprecating the methods that use the `dtype` parameter? Existing code would still work, but it would signal users towards the less hazardous version.

[2017-02-24 18:03] #53 closed

[2017-02-24 18:03] #55 closed

[2017-03-08 14:15] jonahkichwacoders commented on #24
@PeterC-DLS AFAICT this issue is resolved by PR #60 and no new work is planned for this. Please re-open if I misunderstood.

[2017-03-08 14:18] jonahkichwacoders commented on #27
@PeterC-DLS PR #71 seems to have fixed this issue. Is there anything else left in this bug report that needs resolving?

[2017-03-08 15:25] IanMayo commented on #24
@jonahkichwacoders - I wasn't aware of any discussion regarding the suggestion of deprecating the method(s) that caused the confusion.

I've submitted a PR with my suggested handling: #89   If that's satisfactory then I'll apply the change to the other methods, for subsequent review by yourself & @PeterC-DLS

[2017-03-08 15:42] PeterC-DLS commented on #24
Looks fine to me, Ian. +2

[2017-03-08 15:46] IanMayo commented on #24
Thanks for your support Peter, I'll apply it to the other methods.

[2017-03-08 16:20] IanMayo commented on #24
Ok, after an embarrassing number of attempts I've successfully submitted a PR containing the remaining comments: https://github.com/eclipse/january/pull/92

[2017-03-08 19:09] scottslewis commented on #27
My answer to Jonah is no...the fix in 71 looks good to me.  Thanks for the work.

[2017-03-08 21:42] jonahkichwacoders commented on #72
This announcement may be relevant? https://dev.eclipse.org/mhonarc/lists/science-iwg/msg02359.html

[2017-03-08 22:52] jonahkichwacoders commented on #24
Hi @IanMayo, Thanks for the deprecation comments, I think that really helps adopters a lot!

However, one side effect of the deprecation comments / annotations is that it has introduced hundreds of warnings in January's code base. I am not keen to change all those uses just before the 2.0 release, but I solicit comment on how not to have all these warnings now.

The options are:
1. Fix all the dep

[2017-03-08 22:52] jonahgraham opened #94 "Per project build settings need to be applied"
All the projects should have consistent warnings/errors and not rely on what individual users have set in their workspace preferences.

Same goes for formatting, etc.

[2017-03-08 23:14] jonahkichwacoders commented on #24
Just to be clear, I think we can fix this after we branch for 2.0 this week.

[2017-03-09 08:24] IanMayo commented on #24
Hmm, tricky one, @jonahkichwacoders

My thoughts:
1.***Fix deprecation using new code***: could introduce fragility if there isn't lots of testing.  But there is a slim chance that these fixes could expose broken, rarely used code (like we found in #22, which triggered this conversation).
2. ***lower warning status***: is risk free - at least we're still guiding new adopters towards the safer meth

[2017-03-09 10:01] PeterC-DLS commented on #24
Hi Ian,

I will be happy for you to work through option 3.

There are also new warnings from indirect access to static methods in GeneratedMaths – I’m undecided as yet what to do about this.

Regards,
Peter

From: Ian Mayo [mailto:notifications@github.com]
Sent: 09 March 2017 08:24
To: eclipse/january <january@noreply.github.com>
Cc: Chang, Peter (DLSLtd,RAL,LSCI) <Peter.Chang@Diamond.ac.uk>; Ment

[2017-03-09 10:39] IanMayo commented on #24
@jonahkichwacoders - PR ready for review: #97

[2017-03-09 11:20] PeterC-DLS commented on #72
We need the NonSI class here at Diamond (mainly for units of Angstroms). I don't think [uom-se](https://github.com/unitsofmeasurement/uom-se) contains that whereas [si-units](https://github.com/unitsofmeasurement/si-units) does but it has not been released.

[2017-03-11 13:55] jonahkichwacoders opened #109 "Travis builds are not clean"
The travis builds are doing a `mvn install ...` and using a cache of the `.m2` directory. This means that the maven builds are not clean as previous build artefacts are around.

This can cause weird, undetectable problems, especially as versions of bundles change. Builds can pass because they are relying on cached local artifacts from previous versions of the code.

Also, it screws around with the

[2017-03-11 13:57] jonahkichwacoders commented on #109
@gerring I thought you may be interested as the comments in the travis yml file indicate you derived it from some other of your projects.

[2017-03-11 14:00] jonahkichwacoders commented on #109
There is a [bug report](https://github.com/travis-ci/travis-ci/issues/5907) on travis about this bad default of "mvn install", but the inclination is not to fix it because it would break people.

[2017-03-11 16:57] jonahkichwacoders commented on #109
Need to clear out old cache before closing out bug.

[2017-03-13 18:59] jonahkichwacoders commented on #109
All caches on travis cleared out. After next build on master I will check that the caches look correct and nothing org.eclipse.january* is in them.

[2017-03-14 17:20] PeterC-DLS opened #112 "Bugs in Stats"
NPEs thrown in quantile and higher moment stats

[2017-03-17 16:10] IanMayo opened #116 "Interpolate values when AxesMetadata present"
We have two datasets of measurements (code sample below). Each contains `AxesMetadata`, in this case representing timestamps of the measurements.  The timestamps aren't synced, though the periods do overlap.

Currently, performing `add()` operation on these datasets results in an `IllegalArgumentException`.

I believe it should be possible to exploit the `AxesMetadata` to perform operations on the

[2017-03-17 16:28] IanMayo commented on #72
Guys, I remain willing to explore this capability, with the aim of (optionally) making `Dataset` units-aware, in the spirit of generally encouraging good science.

But, I lack the skills to navigate the IP minefield.  If the January team is able to produce a branch that includes/references the UoM libraries necessary to support the following imports, then I'm happy to run with it:
[code]

[2017-03-17 17:30] PeterC-DLS commented on #116
Hi Ian,

Your example can be performed using Maths.interpolate(timeStampsA, speedsA, timeStampsB, null, null) to create dataset of the same shape as speedsB then adding them together.

We need just a design to allow some of our operations to do this automatically… In Dawn, we use AxesMetadata for plotting and the processing framework.

Peter

From: Ian Mayo [mailto:notifications@github.com]
Sent:

[2017-03-20 10:35] PeterC-DLS commented on #72
Hi Ian,

I was putting off adding the unit metadata to January as we (at DLS) have a requirement to support units of Angstroms. Since the 0.6.3 release of si-units last month has added this, I will revisit this shortly.

Regards,
Peter

From: Ian Mayo [mailto:notifications@github.com]
Sent: 17 March 2017 16:28
To: eclipse/january <january@noreply.github.com>
Cc: Chang, Peter (DLSLtd,RAL,LSCI) <Pet

[2017-03-20 12:19] IanMayo commented on #72
Good afternoon Peter,
that would be great, thank you.

I will be able to carry on investigating models for supporting UoM in January using a development fork, but will only be able to submit PR(s) for review/discussion once I can build using the formal libs.
Thanks,
Ian

[2017-03-22 00:45] gerring opened #118 "January should support slice streams"
There should be a functional interface in addition to things like PositionIterator. The .stream() and .forEach() method should probably be available on any dataset (might need some input, so might not be a pure lambda). It will take some thinking about how to marry the idea of a stream with things like the slice iterator. This should not be insurmountable. Will ponder and suggest some changes.

Fu

[2017-03-22 00:48] gerring opened #119 "January should use the intel instructions better"
January abstracts loops inside itself and uses one of its iterators. In the case where a loop could be done in a primitive way, there should be an appropriate test internally to January which checks if a primitive loop could be used and use one. This will speed up certain operations drastically because the VM can pass this down to the intel instructions.

I suggest we start by me writing some spee

[2017-03-22 09:09] IanMayo commented on #116
Good morning @PeterC-DLS ,
thanks for that guidance.

I've worked on an example of how to use Interpolate(), and submitted it in PR #120 .

[2017-03-22 15:27] PeterC-DLS opened #121 "Statistics metadata implementation is not serializable"

[2017-03-22 18:00] #121 closed

[2017-03-23 15:03] PeterC-DLS commented on #118
Putting these methods will break Java 1.7 compatibility.

I suggest that we add static helper methods in another plugin. See the https://github.com/eclipse/dawnsci/pull/543

[2017-03-23 16:01] gerring commented on #118
I don't think this is an issue. The 2.0 branch can continue to be 1.7 while we start lambda stuff with master. Everyone should be happy with that.

[2017-03-23 16:28] PeterC-DLS commented on #118
That increases our maintenance load.

[2017-03-23 16:52] gerring commented on #118
No it doesn't we already have that branch!

[2017-03-24 10:41] IanMayo opened #123 "Support for determining intersection of two ascending datasets"
I continue to explore the application of AxesMetadata to Datasets.

When values are supplied to represent an Axis, I presume the AxesMetadata is the independent axis, and the dataset itself represents the values to be plotted on the dependent axis.

Based on this assumption, I presume that a Dataset supplied to an AxesMetadata instance should be continuously ascending (or descending).  This is to

[2017-03-24 10:58] PeterC-DLS commented on #123
Assumptions that axes datasets are monotonic are too strong. In a geographic setting, sampling can be done in any arbitrary path on Earth. For example, consider a spiral path!

For what you want, there are test methods for monotonicity in Comparisons plus crossings and findIndex* in DatasetUtils to do lookups.

Finding overlaps on the real line is not dataset function.

[2017-03-24 11:11] IanMayo commented on #123
Aah, maybe I'm misinterpreting the role of AxesMetadata.  I was imagining that AxesMetadata represented the independent axis for a set of dependent data values.

I'm comfortable with geographic data.  Could you give me a quick example of how AxesMetadata would be used to represent the spiral path?

We could represent the spiral path as a Dataset of 2*n doubles that do not have to be monotonic.  Ho

[2017-03-24 13:55] PeterC-DLS commented on #123
There can be more than one independent axis as in my example. AxesMetadata.getAxes(int) returns an array of datasets. So a scalar field like ground-level humidity (in a weather model) would depend on latitude and longitude. It could be measured by moving about an area quickly enough for the conditions to be consider static and so at one point in time. Thus H(x,y,t) has been measured at H(x_i,y_i,t

[2017-03-24 15:18] IanMayo commented on #123
Yes, got it, thanks @PeterC-DLS

That's a useful concept to know - I haven't encountered data like that.

[2017-03-29 09:04] PeterC-DLS opened #125 "Generate javadocs for build and publish them"
Need to add `tycho-document-bundle-plugin` from `org.eclipse.tycho.extras`. Maybe host them on `github.io` too.

[2017-03-29 09:16] jonahkichwacoders commented on #125
@PeterC-DLS are you doing this? Feel free to assign to me if not.

[2017-03-29 09:17] PeterC-DLS commented on #125
Have you done this before? If so, it will be a lot quicker :-)

[2017-03-29 09:22] jonahkichwacoders commented on #125
No I haven't, but happy to learn.

The easiest place to put the javadocs is download.eclipse.org/january (per release/build dir). We could then put most recent version on eclipse.org/january/docs?

The repo is already in place for https://git.eclipse.org/r/#/admin/projects/www.eclipse.org/january

[2017-03-29 09:24] jonahkichwacoders commented on #125
BTW  http://eclipse.org/january/ is just a redirect for now to projects page, but it needn't always be. (see http://git.eclipse.org/c/www.eclipse.org/january.git/tree/index.php)

[2017-03-29 09:25] PeterC-DLS commented on #125
Ok, thanks for picking this up.

[2017-03-29 09:50] jonahkichwacoders commented on #125
There are a number of javadoc errors that need to be resolved, so this is a two part task. (i.e. lots of > and < in javadocs). For example [Comparisons.java L1575](https://github.com/eclipse/january/blob/9b7b26a91313b5ae28b7c4c64db5b0de822b2d61/org.eclipse.january/src/org/eclipse/january/dataset/Comparisons.java#L1575)

[2017-03-29 10:10] jonahkichwacoders commented on #125
I take it back, we may not have to resolve them, at least not yet. The javadocs look reasonable, just lots of errors. We should resolve the errors as it may be that some places the errors/warnings are producing bad HTML. At the moment there are 91 errors and 100 warnings.

[2017-03-29 10:19] IanMayo commented on #123
Hi there team,
@PeterC-DLS  explained that this processing is not a Dataset function.  That's fine.

So, sorting out the overlapping period is the responsibility of the Dataset *consumer*, rather than Dataset itself.

I'll be implementing it in my Dataset *consumer* application.  I'm quite happy to initially write it as a January example class (with Unit tests).  This *could* act as a demonstratio

[2017-03-29 10:35] jonahkichwacoders commented on #123
IMHO I would welcome advanced examples that are self-testing. Going forward knowing and understanding how January consumers are using the code is always helpful.

Note at the moment the examples bundle is not run as part of the build. It should be and I will raise a separate ticket for that.

[2017-03-29 10:37] jonahgraham opened #126 "JUnits in examples bundle not being run as part of the build"
They should be, especially as more complicated examples are being considered. See issue #123.

[2017-03-29 11:04] PeterC-DLS commented on #125
Okay, shall we defer these errors to a later issue? Are these errors available in either CI at the moment?

[2017-03-29 11:14] IanMayo commented on #123
@jonahkichwacoders - yes, including examples in the build would have prevented #22 from remaining undetected.

[2017-03-29 13:18] jonahkichwacoders commented on #125
Yes

No, but they will be soon in the PR.

[2017-03-29 13:24] PeterC-DLS commented on #123
Sounds fine to me: any advanced examples will help bring out more of the functionality in January!

[2017-03-29 14:39] jonahgraham opened #128 "Correct Javadoc errors when generating with Java 8"
(follow on from #125)

The current javadocs contain many HTML errors when generating with Java 8. e..g `<` in the javadoc. However as we are currently using Java 7 javadoc, these items are not errors.

The reason we see these errors in Java 8 is because of a new feature: [JEP 172 DocLint](http://openjdk.java.net/jeps/172)

[2017-03-29 14:40] jonahkichwacoders commented on #125
No actually they won't be because we are using javadoc 1.7 and the linting of javadocs is a new feature in Java 8. See #128.

[2017-03-29 14:40] jonahkichwacoders commented on #125
"they" --> the errors in the output.

[2017-03-29 14:42] jonahkichwacoders commented on #128
There is some useful info about this on http://jdpgrailsdev.github.io/blog/2014/04/03/maven_java8_javadoc.html

[2017-03-29 22:45] jonahkichwacoders commented on #128
@PeterC-DLS I have published master apidocs (now done automatically) to http://download.eclipse.org/january/builds/january-master/latest/apidocs/

Can you have a check and see if they are OK.

Some features I added:

* links to all types that we depend on (apache, log4j, oracle): [links](https://github.com/eclipse/january/blob/12d837f31a43d4c885e42c9762b2a1bc56e08544/org.eclipse.january/pom.xml#L7

[2017-03-30 08:00] PeterC-DLS commented on #128
@jonahkichwacoders The docs look very fine - even the maths in Comparisons.Monotonicity. Some of the packages need a bit more overview information (to be added in the future).

[2017-03-30 08:12] PeterC-DLS commented on #128
@jonahkichwacoders Cool features for those external links though I think that class should be a private one... Can I assume that being Java 8 compliant is backwardly compatible too?

[2017-03-30 08:28] jonahkichwacoders commented on #128
Yes. What Java 8 added is a linter for javadocs. The linter can be tuned off or we can fix the lint issues. I have always been of two minds about javadocs as I spend 1/2 my time reading them in code and 1/2 in html. Sometimes to make them look nice in html lowers their value in the code.

[2017-03-30 08:38] jonahkichwacoders commented on #125
Its in the build now [2.0](http://download.eclipse.org/january/builds/january-2.0/latest/apidocs/) [master](http://download.eclipse.org/january/builds/january-master/latest/apidocs/).

When I release 2.0.1 I will publish the docs on http://www.eclipse.org/january/apidocs

[2017-03-30 09:13] jonahkichwacoders commented on #125
I have published the javadocs for the upcoming 2.0.1 release (if there is a change I will update them).

https://eclipse.org/january/apidocs/ -> redirects to https://eclipse.org/january/apidocs/latest/
There is also per version upload https://eclipse.org/january/apidocs/2.0.1/

See [websitre git](http://git.eclipse.org/c/www.eclipse.org/january.git/tree/apidocs?id=90e839cbb8d5bf2bf0a7fea934b29382d

[2017-03-30 09:13] #125 closed

[2017-04-04 09:22] jonahkichwacoders commented on #109
All looks good now.

[2017-04-04 09:22] #109 closed

[2017-04-04 10:21] jonahgraham opened #143 "Building with Maven at command line fails on Windows"
The Maven exec plug-in to ensure that the template generated java files are up to date does not work on WIndows at the moment.

[2017-04-04 10:29] yannick-mayeur commented on #143
Error message :
`[ERROR] Failed to execute goal org.codehaus.mojo:exec-maven-plugin:1.5.0:exec (Verify generated files are up to date) on project org.eclipse.january: Command execution failed. Cannot run program "C:\Users\yayam\workspace\january\org.eclipse.january\src\org\eclipse\january\dataset\internal\template\verify_all.sh" (in directory "C:\Users\yayam\workspace\january\org.eclipse.january\s

[2017-04-05 08:22] jonahkichwacoders opened #144 "Support consuming January without Eclipse IDE/tycho (Publish to Maven Central)"
The January dataset bundles at the moment are built with Tycho/Eclipse, but there is no actual dependency on OSGi or Eclipse IDE to make use of January datasets.

This issue is to track progress on getting January into Maven central so that 3rd parties can consume datasets more easily.

[2017-04-05 08:24] jonahkichwacoders commented on #144
@yannick-mayeur This is the issue in GitHub to track the work you are doing.

[2017-04-05 08:26] jonahkichwacoders commented on #144
Here are some links of interest:

[Mailing list announcement on Eclipse with lots of information about publishing to Maven central](http://dev.eclipse.org/mhonarc/lists/eclipse-dev/msg10352.html)

[Publishing wiki entry for Eclipse Platform](https://wiki.eclipse.org/Platform-releng/Publish_To_Maven_Central) - this is similar, but not exactly the same, hopefully will give a good indication of what

[2017-04-05 08:41] jonahkichwacoders commented on #144
this is an example of a bundles as published on maven central: https://search.maven.org/#artifactdetails%7Corg.eclipse.platform%7Corg.eclipse.ui%7C3.108.1%7Cjar

[2017-04-05 09:28] PierreSachot opened #145 "& and && problem"
In some examples like NumPy, the System.out.println display sometimes & and sometimes &&

[2017-04-05 10:04] IanMayo opened #146 "Gotcha: hasNext() modifies state"
Ooh, this just caught me out.

In Java the ````iterator.hasNext()```` method is always a *pure* function: it doesn't modify state.  So, until ````iterator.next()```` is called, it will always return the same value.

However, in January ````iterator.hasNext()```` is used to advance the iterator, since the actual value is returned from a public int value.

Maybe the above strategy has been introduce

[2017-04-05 10:10] jonahkichwacoders commented on #145
Hi @PeterC-DLS

@PierreSachot  can fix this up, but I need your comment on this please.

In the Numpy example, sometimes logicalAnd is written as & and sometimes as && in comments/sysouts. In the [Comparisons.logicalAnd javadoc](https://eclipse.org/january/apidocs/2.0.1/org/eclipse/january/dataset/Comparisons.html#logicalAnd(java.lang.Object,%20java.lang.Object)) it is written as &&

So the questi

[2017-04-05 10:14] IanMayo opened #147 "Link to master January project URL"
To improve SEO @tracymiranda indicated [1] that the eclipse project [2] is the one that should be referenced from other web-pages, to include the page-rank of that page.

We don't include that link in the January GitHub repo home page (readme).  I'll produce a PR to correct this.

[1]. https://dev.eclipse.org/mhonarc/lists/january-dev/msg00265.html
[2]. https://projects.eclipse.org/projects/scienc

[2017-04-05 10:15] jonahkichwacoders commented on #147
Ian, we are currently working on new (first) webpage for https://eclipse.org/january. Can you point there please?

[2017-04-05 10:16] jonahkichwacoders commented on #147
The https://eclipse.org/january currently redirects to https://projects.eclipse.org/projects/science.january

[2017-04-05 10:17] IanMayo commented on #147
Sure @jonahkichwacoders = on it.

[2017-04-05 10:25] #147 closed

[2017-04-05 11:36] jonahkichwacoders opened #154 "Unstable test: AbstractDatasetTest.testTileSpeed"
The testTileSpeed test is somtimes unstable. See for example https://hudson.eclipse.org/january/job/january-2.0/13/

I have marked build 13 as keep forever, please clear that flag once issue is resolved.

[code]

[2017-04-05 11:41] jonahkichwacoders commented on #154
In re-run of build test passed.

[2017-04-05 11:54] PeterC-DLS commented on #146
Yes, `IndexIterator` was unwisely called an iterator but does not behave like `Iterator<?>`. As you guessed correctly, it is for performance to avoid boxing and extra calls (for access to it.index or it.getPos()).

Add Java 8 functional support would hopefully give a way for future users to avoid having to learn these quirks. See #118.

[2017-04-05 12:17] IanMayo commented on #146
### Traditional coding patterns
Even if ````IndexIterator```` wasn't named as an iterator, the method name ````hasNext()```` would have thrown me.

I accept that the extensive use of these iterators in DAWN may unfortunately make it too resource-expensive to switch to the traditional model of Java iterator.  This could be overcome by renaming ````hasNext()```` to something more explicit (````hasNe

[2017-04-05 13:40] PeterC-DLS commented on #145
No, the Javadoc pertains to matlab as noted [here](https://docs.scipy.org/doc/numpy/user/numpy-for-matlab-users.html#numpy-for-matlab-users-notes). So you are correct in rejecting it. Perhaps the print should clarify the January operation...

There's also an issue owing to `Maths.bitwise*` not being supported for output boolean datasets.

Peter

[2017-04-05 14:01] gerring commented on #118
final ILazyDataset lz = Random.lazyRand(64, 64, 100, 100);

I hacked up streams for slicing so you can replace something like:
           final PositionIterator it = new PositionIterator(new int[]{64, 64});
           final List<Number> maxes = new ArrayList<Number>();
           while(it.hasNext()) {
                int[] pos = it.getPos();
                Slice[] slice = new Slice[lz.getRank()];

[2017-04-05 14:07] jonahkichwacoders commented on #118
Maintenance is much more than having a branch. How long do you envision supporting Java 7 for? As long as Java 7 is supported we would need two branches to be active, both receiving bug fixes, etc. We just downgraded to Java 7....

[2017-04-06 08:18] gerring opened #156 "Migrate DatasetStreamSupport and SliceStreamSupport in dawnsci to janauary"
Eventually migrate DatasetStreamSupport and SliceStreamSupport in dawnsci to janauary. This will require a change to java 8.

@see https://github.com/eclipse/january/issues/118

[2017-04-06 08:19] gerring commented on #118
Replaced with https://github.com/eclipse/january/issues/156

[2017-04-06 08:19] #118 closed

[2017-04-06 13:00] PierreSachot opened #157 "sshape clarification in SliceIterator"
Hi,

I would like to know what is the sshape in the constructor of a SliceIterator.

Thanks.

[2017-04-06 13:29] PeterC-DLS commented on #157
Hi Pierre,

As mentioned in the source, it is the shape of the sliced dataset. The slice iterator iterates over each point in the sliced dataset so the slice shape is the number of steps spanned in each dimension.

Regards,
Peter

From: PierreSachot [mailto:notifications@github.com]
Sent: 06 April 2017 14:01
To: eclipse/january <january@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github

[2017-04-06 13:53] PierreSachot commented on #157
Dear Peter,

Thanks a lot for your quick reply, I would like to know an other thing about the start index and the stop index, is those about the dimensions or the values inside of the dimensions ?

Best regards,

Sachot Pierre.

[2017-04-06 14:32] PeterC-DLS commented on #157
Hi Pierre,

These are the same as specified in Python and NumPy: start is inclusive and stop is exclusive. See also the Slice and SliceND classes.

Peter

From: PierreSachot [mailto:notifications@github.com]
Sent: 06 April 2017 14:53
To: eclipse/january <january@noreply.github.com>
Cc: Chang, Peter (DLSLtd,RAL,LSCI) <Peter.Chang@Diamond.ac.uk>; Comment <comment@noreply.github.com>
Subject: Re: [ec

[2017-04-07 08:22] PeterC-DLS commented on #146
Renaming the classes would avoid future confusion so there would be no expectations on how it works.

As you note, these 'iterators' do not offer the contents of the datasets (only the index or position within a dataset). Mainly reduction tasks would benefit from a traditional iterator but this pattern is not so useful for a lot of dataset operations.

There is no reason you could not write a prop

[2017-04-12 11:46] tracymiranda commented on #144
@yannick-mayeur has a first working version available here:
https://search.maven.org/#search%7Cga%7C1%7Ceclipse%20january

[2017-04-12 12:22] jonahkichwacoders commented on #144
Request for org.eclipse.january created: https://issues.sonatype.org/browse/OSSRH-30435

[2017-04-14 08:51] jonahgraham opened #164 "Update .travis.yml on forms branch"
The current .travis.yml on the forms branch needs to be updated so that it builds.

AFAICT this means at least checking out the third-party tests.

This Issues is to go with status-quo, i.e. separate test repo. However #11 is still open and that is my preferred solution.

[2017-04-14 09:06] jonahkichwacoders opened #165 "Build January as a "pure" Maven project"
To ease contribution and more easily manage builds we are considering changing January's build system from Maven+Tycho to "pure" Maven. This eases development of features such as #144 and opens up January for contribution from anyone more easily.

This discussion started on [january-dev](https://dev.eclipse.org/mhonarc/lists/january-dev/msg00297.html), the conclusions will be added here in due cou

[2017-04-15 17:27] jonahkichwacoders opened #166 "Don't require clean repo by default"
Hide tycho-buildtimestamp-jgit's requirement of clean git tree behind a profile that is activated on build machines, but not required on dev machines. This relates to #165 in that doing compile with maven outside Eclipse is a pain because of it.

[2017-04-15 17:30] jonahkichwacoders commented on #166
It may make sense that build-prefix=='v' requires clean, and others do not as released version should be v prefixed.

[2017-04-16 15:23] erwindl0 commented on #165
Here's a detailed report of setting up a January development environment in IntelliJ IDEA community edition, starting from the January master state of April 16th.

I'm on a Windows 10 with a 1.8 JDK.

The result of what I've been trying is on the branch https://github.com/erwindl0/january/tree/erwin/enh/165/january-maven-non-eclipse for your review. Just let me know if/how you want to work with it

[2017-04-18 08:56] jonahkichwacoders commented on #165
Erwin, thanks for the detailed analysis. I have had a look at your fork and we will definitely want to pull some of that across.

That is a very good point and an interesting problem. It sounds like I will need some more complete "post-install" tests to ensure everything continues to work. i.e. test running with and without OSGi that everything is pulled together OK.

[2017-04-28 18:37] SmithRWORNL opened #169 "Remove dependency on EAVP"
There are a few classes still depending on EAVP in the forms branch.

1)GeometryComponent- EAVP classes are present but no longer used and can be removed.

2)ResourceHandler- Iterates over all found IVizServices from the IVizServiceFactory to decide whether a file should be used in an ICEResource or a VizResource. VizResource extends ICEResource, and I don't see anything that would break form havi

[2017-04-28 23:24] jayjaybillings commented on #169
@SmithRWORNL Here are some thoughts.

1) +1.
2) I don't see why this class should be in January or EAVP. This is for some high-level functions in ICE and isn't used anywhere else, (I think), so we should probably move it to org.eclipse.ice.item. However, before we do that we need to figure out if anything else here uses it.
3) Well poop. I'm not sure how we keep making mistakes like this, but we r

[2017-04-29 18:33] jayjaybillings commented on #169
Okay. I fixed this.

1) Removed all references to EAVP from the target, GeometryComponent, Manifests and other classes.
2) Deleted the ResourceHandler.
3) I implemented an entirely new, generic visitation scheme for classes that are not part of the IComponentVisitor interface. I'll write up the details in separate post, but this means that it is safe to delete the old MeshComponent (which I did) f

[2017-04-29 18:33] #169 closed

[2017-05-01 00:23] jayjaybillings opened #170 "Data structures bundles in Forms still have incorrect package names"
The data structure bundles in Forms still have incorrect package names that refer to ICE. There are also numerous classes that refer to ICE and not January.

I will rely on @SmithRWORNL to help me fix this.

[2017-05-01 13:49] jonahkichwacoders commented on #169
@jayjaybillings the updated target platform looks great now. Well done on solving the circular dependency (at the target platform level)

[2017-05-01 15:06] jayjaybillings commented on #169
Thanks @jonahkichwacoders! I think it is a nice solution that will even let us do some neat things once we have all of this working.

[2017-05-05 17:59] scottslewis opened #172 "LazyDatasetBase properties access fails in secure environment"
My environment is an OSGi framework impl running with the Java security manager...not Eclipse.

In LazyDatasetBase is this initialization code:

protected static boolean catchExceptions;

	static {
		/**
		 * Boolean to set to true if running jython scripts that utilise ScisoftPy in IDE
		 */
		catchExceptions = Boolean.getBoolean("run.in.eclipse");
}

This fails...and therefore the class cannot b

[2017-05-08 10:34] #172 closed

[2017-05-08 10:34] PeterC-DLS commented on #172
Thanks for reporting the issue.

[2017-05-09 10:23] PierreSachot opened #174 "[Bug] Maths.arctan2()"
When I execute this test :

[code]

The test fail, I would like to know if there is a problem inside of the javadoc or if there is a real problem in the code.

[2017-05-09 10:27] jonahkichwacoders commented on #174
@PeterC-DLS Pierre and I had a look at this. In the case that Maths.arctan2() receives integer datasets, the implementation does not work as the iterator does not assign aDouble/bDouble values and instead uses aLong/bLong.

So, is this a bug in the implementation or our expectations (and therefore javadocs)? If it is in the javadocs, would it be appropriate to have some typechecking on the inputs?

[2017-05-09 10:45] PierreSachot commented on #174
if I change the code of `arctan2()` changing this part :
[code]

to that :
[code]

My test pass, but I don't really know if this is what you want.

[2017-05-09 11:57] PeterC-DLS commented on #174
Good find. The fix is to use setOutputDouble(true) on the iterator.

Peter

From: Jonah Graham [mailto:notifications@github.com]
Sent: 09 May 2017 11:27
To: eclipse/january <january@noreply.github.com>
Cc: Chang, Peter (DLSLtd,RAL,LSCI) <Peter.Chang@Diamond.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [eclipse/january] [Bug] Maths.arctan2() (#174)

@PeterC-DLS<https://github.com/Peter

[2017-05-09 13:37] #174 closed

[2017-05-11 10:08] PeterC-DLS opened #187 "Elements in output compound datasets not reset"
When an output compound dataset is given, not all its elements are set to zero.

This bug found in #184 and fixed in #186 applies to many other methods in Maths (and may be other classes too).

[2017-05-11 10:23] PierreSachot commented on #187
Dear Peter,

Do you want me to fix that or will you fix it ? Because I watched inside Maths.java class and in Complex cases there is no others cases like abs one.

[2017-05-11 10:32] PeterC-DLS commented on #187
I have merged the (partial) fix in #186 so please rebase your PR #184 on master. A complete fix for other methods will be tracked by this issue.

[2017-06-05 12:45] PeterC-DLS opened #201 "Update january_2_0 branch to 2.0.2-SNAPSHOT"

[2017-06-05 14:09] PeterC-DLS opened #203 "Update examples for 2.0.2 release"

[2017-06-05 14:57] #201 closed

[2017-06-05 14:58] #203 closed

[2017-06-19 19:49] jonahkichwacoders commented on #144
The initial version (2.0.2) has been pushed to Maven Central under the org.eclipse.january groupid.

Thing left to do generally involve automating the process, such as:

- [ ] Do maven deploys from HIPP
- [ ] Publish snapshots (how often, each commit to master/version branch?)
- [ ] Ensure someone else can do the deploy (right now only I have permission on org.eclipse.january group at maven centra

[2017-06-20 08:13] jonahkichwacoders commented on #144
https://bugs.eclipse.org/bugs/show_bug.cgi?id=518487 raised to get HIPP permissions.

[2017-06-22 13:28] jonahkichwacoders commented on #144
https://bugs.eclipse.org/bugs/show_bug.cgi?id=518487 has instructions now to do the deployment from HIPP.

[2017-07-27 07:30] tschoonj opened #235 "Dataset: add min and max methods supporting multiple axes"
The `Dataset` interface currently specifies `min()` and `max()` methods that take a single axis as argument. This should be extended towards supporting multiple axes, just like [numpy](https://docs.scipy.org/doc/numpy/reference/generated/numpy.amax.html) does. I am currently implementing support for this in [`LazyMaths`](#234)

[2017-07-28 12:22] PeterC-DLS opened #240 "Add indexed sort method to dataset"
NumPy's `ndarray` has an [`argsort`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.argsort.html#numpy.ndarray.argsort) method

[2017-09-07 13:54] PeterC-DLS opened #248 "Support negative axis arguments"
For various `Dataset` methods, for example, `Dataset.any(int axis)`, support negative values of axis as meaning `rank - axis`.

[2017-09-07 13:55] PeterC-DLS opened #249 "Fix cloning zero-sized datasets"
This can be triggered by transposing a zero-sized dataset too.

[2017-09-07 14:01] PeterC-DLS opened #250 "Support multiple axes arguments in Dataset methods"
Since version 1.7 of NumPy, `ndarray` methods like `sum`, `mean`, etc allow a tuple of axes as the `axis` argument. Add the same ability to `Dataset` and to methods in other classes.

[2017-09-19 08:37] #250 closed

[2017-09-19 08:38] PeterC-DLS commented on #250
Duplicates #235

[2017-09-19 08:54] PeterC-DLS opened #252 "Ignore NaNs in Stats.outlierValues"

[2017-09-19 15:47] #249 closed

[2017-09-21 10:59] #252 closed

[2017-09-21 10:59] #248 closed

[2017-09-22 12:39] #240 closed

[2017-09-22 12:44] #72 closed

[2017-09-22 14:46] #157 closed

[2017-09-22 14:47] #112 closed

[2017-09-22 14:47] #145 closed

[2017-09-27 13:00] PeterC-DLS opened #264 "Stride iterator's position does not move across slice"
The position reported is relative to the new sliced shape

[2017-09-27 13:08] #264 closed

[2017-12-14 13:21] tschoonj opened #278 "Reexport javax.measure.unit-api?"
When using the UnitMetadata class, I noticed getting a build path error for `javax.measure.Unit`. I fixed it by adding a bundle requirement for `javax.measure.unit-api`, but perhaps it would be better to reexport this bundle in the org.eclipse.january MANIFEST.MF?

[2017-12-14 13:25] PeterC-DLS commented on #278
Yes, please!

[2017-12-14 13:25] tschoonj commented on #278
Ok, will open PR

[2017-12-14 14:35] #278 closed

[2018-03-02 09:13] PeterC-DLS opened #281 "Squeeze method should follow NumPy's behaviour"
In NumPy, an `ndarray`'s squeeze method returns a view only when its shape changes

[2018-03-02 10:13] PeterC-DLS commented on #281
Cannot fix without breaking compatibility

[2018-03-02 10:13] #281 closed

[2018-04-06 12:24] PeterC-DLS opened #296 "Warnings for many methods in Maths"
The subclassing of GeneratedMaths causes `Discouraged access` warnings. It would be less discouraging for users if these warnings were to disappear.

[2018-05-03 15:08] #296 closed

[2018-05-03 15:09] PeterC-DLS opened #298 "Incorrect use of generics in RGBDataset.createGreyDataset"

[2018-05-03 15:17] #298 closed

[2018-05-03 15:24] PeterC-DLS opened #300 "Dataset equals method is not efficient"
It iterates through both datasets when comparing against itself and also against views of itself

[2018-05-04 08:38] #300 closed

[2018-05-08 13:37] PeterC-DLS opened #302 "Slicing squeezed dataset that has metadata throws exception"
There seems to be a mismatch of the rank of saved axes metadata datasets

[2018-05-08 14:51] PeterC-DLS commented on #302
Note this only affects `LazyDataset` and the workaround is make a new squeezed view on every slice

[2018-05-11 10:10] #302 closed

[2018-05-22 16:32] PeterC-DLS opened #306 "Slicing metadata in reversed direction is broken"

[2018-05-24 10:07] PeterC-DLS commented on #306
Fixed in #307 and cherry-picked to branch in #308

[2018-05-24 10:07] #306 closed

[2018-05-30 09:27] PeterC-DLS opened #313 "Axes metadata does not slice correctly"
When axes metadata in a dataset has dimensions longer than its host, slicing the host gives incorrect axes metadata

[2018-06-05 12:37] PeterC-DLS opened #321 "Setting a slice does not set first value"
This is for a dataset that has been reshape to acquire a new (fastest) dimension.

It seems that a broadcast iterator does not retrieve initial value.

[2018-06-06 10:51] #321 closed

[2018-06-27 16:10] PeterC-DLS opened #323 "Unit metadata needs an initialize method"
Unit metadata cannot be created by ``MetadataFactory.createMetadata()``

[2018-06-28 11:04] #323 closed

[2018-07-03 09:09] gerring commented on #119
I saw two Soleil guys at Eclipse con France this year and they also have hit the primitive array problem. It seems simple to replace some of the iterations with tests to use primitive array maths if you can or the existing loops/iterations if not. This would make January fly.

[2018-07-03 09:18] PeterC-DLS commented on #119
The ``ContiguousIterator`` class used in the simplest case. Is there any reason why the Hotspot JVM cannot dynamically optimise this case - it is a while-loop?

[2018-09-05 16:46] PeterC-DLS opened #332 "Non-contiguous datasets wrongly share data when converting to/from compound datasets"
When a compound dataset is created from a dataset that is a non-contiguous view and data shared, the values can be incorrect. This also happends when a non-contiguous view of a compound dataset is converted to an elemental dataset and data is shared.

[2018-09-10 15:30] #332 closed

[2018-09-10 15:46] PeterC-DLS opened #336 "DateDataset does not return correct dataset type"
The current implementation is a subclass of a ``StringDataset`` and neglects to override ``getDType()``

[2018-09-11 16:36] #336 closed

[2018-10-16 22:32] #235 closed

[2019-10-11 13:12] PeterC-DLS opened #403 "Add axis argument to dataset's squeeze method"
See NumPy's [ndarray.squeeze](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.squeeze.html)

[2019-10-18 08:55] PeterC-DLS opened #404 "Re-license to EPL v 2.0"

[2020-02-03 12:21] gerring opened #420 "There should be a speed test showing the issue (if any) between compiler optimization and January"
It would be good to have a speed test to show where the current nD looping under performs against the compiler optimized basic loop. If January is slow then the test could be commented out until the team decides to fix something.

[2020-02-03 14:25] PeterC-DLS commented on #420
I think any benchmark should use JMH. Can you refactor to do that and place it in separate fragment?

[2020-02-03 14:50] gerring opened #422 "January can be Java8 minimum these days"
Java 8 is an old enough standard now and allows lambdas. Suggest move to Java 8.

[2020-09-11 08:48] SungmanHong opened #425 "Can I import it in android studio?"
I started App develop study in Android studio and learning java.

can I import this java package in android studio also? thx.

[2020-09-11 10:59] PeterC-DLS commented on #425
Yes, you should be able to add it as a dependency (or jar). See, for example, https://search.maven.org/artifact/org.eclipse.january/org.eclipse.january

[2020-09-13 07:05] SungmanHong commented on #425
Thanks, I'll close it!

[2020-09-13 07:05] #425 closed

[2020-09-15 08:31] SungmanHong commented on #425
@PeterC-DLS

I have one more questions...
I want to slice 4d float array but its really hard in JAVA....(very easy in python)

I found some solutions
https://stackoverflow.com/questions/16362872/how-to-get-2d-subarray-from-2d-array-in-java
and If this library also support multi dimensional array slicing as python method?

[2020-09-15 09:31] PeterC-DLS commented on #425
There are two ways to slice multiple dimensions: directly using a `SliceND` object or with an array of `Slice` objects. So for `a`:
[code]
or
[code]
There's a variety of examples here: https://github.com/eclipse/january/blob/master/org.eclipse.january.examples/src/org/eclipse/january/examples/dataset/SlicingExamples.java

[2020-09-15 12:56] gerring commented on #425
👍

[2020-09-15 13:13] SungmanHong commented on #425
Thank you very much! It'll really help to study and develop my app instead of python.
Thank you!!

[2021-04-20 10:06] joeshannon opened #428 "Convert to class specific loggers"
Currently there are a few loggers defined in base classes as protected which are then used by child/implementation classes. For example we might see:
[code]
Where the message here is actually from `DateDatasetImpl` not `LazyDatasetBase`.

Using a logger for the class that the logger is actually used from increases clarity and saves time tracking down the code where the message originates.

[2022-01-07 10:12] PeterC-DLS commented on #428
Fixed by #429

[2022-01-07 10:12] #428 closed

[2022-01-21 09:10] PeterC-DLS commented on #164
Not relevant to this repo as january-form has moved to https://github.com/eclipse/january-forms/

[2022-01-21 09:10] #164 closed

[2022-01-21 09:11] PeterC-DLS commented on #11
No longer an issue as january-forms was moved to https://github.com/eclipse/january-forms/

[2022-01-21 09:11] #11 closed

[2022-01-21 09:19] PeterC-DLS commented on #24
Final updates to remove use of constants and deprecation suppression in #392 and #393

[2022-01-21 09:19] #24 closed

[2022-01-21 09:20] PeterC-DLS commented on #25
Closing as january-forms was moved to https://github.com/eclipse/january-forms

[2022-01-21 09:20] #25 closed

[2022-01-21 09:21] PeterC-DLS commented on #26
Closing as january-forms was moved to https://github.com/eclipse/january-forms

[2022-01-21 09:21] #26 closed

[2022-01-21 09:21] PeterC-DLS commented on #56
Closing as january-forms was moved to https://github.com/eclipse/january-forms

[2022-01-21 09:21] #56 closed

[2022-01-21 09:21] PeterC-DLS commented on #57
Closing as january-forms was moved to https://github.com/eclipse/january-forms

[2022-01-21 09:21] #57 closed

[2022-01-21 09:21] PeterC-DLS commented on #58
Closing as january-forms was moved to https://github.com/eclipse/january-forms

[2022-01-21 09:21] #58 closed

[2022-01-21 09:24] PeterC-DLS commented on #128
Closing as all errors and warnings were fixed in #450

[2022-01-21 09:24] #128 closed

[2022-01-21 10:26] PeterC-DLS commented on #94
I think this has been done with above PR merged.

[2022-01-21 10:26] #94 closed

[2022-01-21 10:31] PeterC-DLS commented on #126
Done as detailed in comments

[2022-01-21 10:31] #126 closed

[2022-01-21 10:44] PeterC-DLS commented on #123
Examples added above.

[2022-01-21 10:44] #123 closed

[2022-01-21 10:46] PeterC-DLS commented on #170
January-forms was moved to https://github.com/eclipse/january-forms

[2022-01-21 10:46] #170 closed

[2022-01-21 10:51] PeterC-DLS commented on #143
Fixed in #163

[2022-01-21 10:51] #143 closed

[2022-01-21 10:54] PeterC-DLS commented on #116
Done with merged PR

[2022-01-21 10:54] #116 closed

[2022-01-21 10:55] PeterC-DLS commented on #27
Done with merged PR

[2022-01-21 10:55] #27 closed